html { background: #eee; }
body {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.2;
	color: #222;
}

a { color: #227; }

pre { border: 1px #ddd solid; background: #FF9; font-size: 1.2em; padding: 1em; }

#canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	cursor: crosshair;
}

#tools
{
	position: absolute;
	display: fixed;
	top: 0px;
	left: 0px;
	cursor: default;
}

#video_wrap {
    position: relative;
    float: left;
}

#video_wrap videp {
    position: absolute;
    top: 0;
    left: 0;
}

#manage_wrap {
    float: left;
    padding-left: 10px;
}

.clear {
    height: 0;
    overflow: hidden;
    float: none;
    clear: both;
    width: 0;
}

#manage_wrap form a {
    text-decoration: none;
}

#manage_wrap form a:hover {
    text-decoration: underline;
}

#manage_wrap form input {
    clear: both;
}

#manage_wrap form label {
    display: block;
    width: 28px;
}

#picker {
    float: left;
    margin-bottom: 10px;
}

#erase1 {
    background: url(../img/eraser.png) no-repeat top right;
    border: 1px solid #d5d5d5;
    display: block;
    float: left;
    height: 16px;
    opacity: 0.5;
    width: 16px;
}

#size {
    margin-bottom: 10px;
}

#picker label {
    float:left;
    margin-right: 28px;
}

#draw_pencil {
    float: left;
    height: 16px;
    width: 16px;
}

#erase{
    float: left;
    margin-bottom: 10px;
}

#erase span {
    display: block;
    float:left;
    margin-right: 24px;
    width: 32px;
}


